<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="front_left_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="front_right_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rear_left_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rear_right_wheel_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="front_left_wheel_holder_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="front_right_wheel_holder_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="rear_left_wheel_holder_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo reference="rear_right_wheel_holder_link">
        <material>Gazebo/Orange</material>
    </gazebo>

    <gazebo>
    <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
        <updateRate>100.0</updateRate>
        <robotNamespace>/</robotNamespace>
        <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>
        <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>
        <leftRearJoint>rear_left_wheel_joint</leftRearJoint>
        <rightRearJoint>rear_right_wheel_joint</rightRearJoint>
        <wheelSeparation>0.4</wheelSeparation>
        <wheelDiameter>0.215</wheelDiameter>
        <robotBaseFrame>base_link</robotBaseFrame>
        <torque>20</torque>
        <topicName>cmd_vel</topicName>
        <broadcastTF>false</broadcastTF>
    </plugin>
    </gazebo>
        
</robot>