    <xacro:wheel_holder_link_xacro prefix="front_left_holder" holder_mass="5.0" holder_x="0.1" holder_y="0.05" holder_z="0.2"/>
    <xacro:wheel_holder_joint prefix="front_left" x="0.5" y="0.3" z="0.0"/>

    <xacro:macro name="wheel_holder_link_xacro" params="prefix holder_mass holder_x holder_y holder_z">
        <link name="${prefix}_wheel_holder_link">
            <visual>
                <geometry>
                    <box size="${holder_x} ${holder_y} ${holder_z}"/>
                </geometry>
                <origin xyz="0 0 ${holder_z / 2.0}" rpy="0 0 0"/>
                <material name="blue"/>
            </visual>
            <collision>
                <geometry>
                    <box size="${holder_x} ${holder_y} ${holder_z}"/>
                </geometry>
                <origin xyz="0 0 ${holder_z / 2.0}" rpy="0 0 0"/>
            </collision>
            <xacro:box_inertia m="${holder_mass}" l="${holder_x}" w="${holder_y}" h="${holder_z}" xyz="0 0 ${holder_z / 2.0}" rpy="0 0 0"/>
        </link>
    </xacro:macro>

    <xacro:macro name="wheel_holder_joint" params="prefix x y z">
        <joint name="${prefix}_wheel_holder_joint" type="fixed">
            <parent link="${prefix}_wheel_holder_link"/>
            <child link="${prefix}_wheel_link"/>
            <origin xyz="${x} ${y} ${z}" rpy="0 0 0"/>
        </joint>
    </xacro:macro>


    <xacro:wheel_joint prefix="front_left" x="0.3" y="0.2" z="0.0"/>
    <xacro:wheel_joint prefix="front_right" x="0.3" y="-0.2" z="0.0"/>
    <xacro:wheel_joint prefix="rear_left" x="-0.3" y="0.2" z="0.0"/>
    <xacro:wheel_joint prefix="rear_right" x="-0.3" y="-0.2" z="0.0"/>


    <xacro:wheel_link prefix = "front_left"  wheel_mass = "${wheel_mass}" wheel_radius = "${wheel_radius}" wheel_length="${wheel_length}"/>
    <xacro:wheel_link prefix = "front_right" wheel_mass = "${wheel_mass}" wheel_radius = "${wheel_radius}" wheel_length="${wheel_length}"/>
    <xacro:wheel_link prefix = "rear_left"   wheel_mass = "${wheel_mass}" wheel_radius = "${wheel_radius}" wheel_length="${wheel_length}"/>
    <xacro:wheel_link prefix = "rear_right"  wheel_mass = "${wheel_mass}" wheel_radius = "${wheel_radius}" wheel_length="${wheel_length}"/>


    <xacro:wheel_holder_link_xacro prefix="front_left" holder_mass="${holder_mass}" holder_x="${holder_x}" holder_y="${holder_y}" holder_z="${holder_z}"/>
    <xacro:wheel_holder_link_xacro prefix="front_right" holder_mass="${holder_mass}" holder_x="${holder_x}" holder_y="${holder_y}" holder_z="${holder_z}"/>
    <xacro:wheel_holder_link_xacro prefix="rear_left" holder_mass="${holder_mass}" holder_x="${holder_x}" holder_y="${holder_y}" holder_z="${holder_z}"/>
    <xacro:wheel_holder_link_xacro prefix="rear_right" holder_mass="${holder_mass}" holder_x="${holder_x}" holder_y="${holder_y}" holder_z="${holder_z}"/>

    <xacro:include filename = "/home/tayya/four_wheel_ws/src/four_wheel_vehicle/urdf/lidar.xacro"/>
    <xacro:include filename = "/home/tayya/four_wheel_ws/src/four_wheel_vehicle/urdf/camera.xacro"/>
    <xacro:include filename = "/home/tayya/four_wheel_ws/src/four_wheel_vehicle/urdf/base_gazcbo.xacro"/>


    <gazebo reference="front_left_wheel_holder_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="front_right_wheel_holder_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rear_left_wheel_holder_link">
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="rear_right_wheel_holder_link">
        <material>Gazebo/Grey</material>
    </gazebo>
